:root {
  --background-color: white;
  --text-color: #24292f;
  --success-background-color: #6aaa64;
  --success-text-color: white;
  --permanent-letter-background-color: #787c7e;
  --permanent-letter-text-color: white;
  --unplaced-letter-background-color: white;
  --unplaced-letter-text-color: #24292f;
  --empty-square-border-color: #d3d6da;
  --empty-square-border-color-hover: #abb1ba;
}

body {
  font-family: "Helvetica Neue", "Clear Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--background-color);
  margin: 0;
}

button {
  display: inline-flex;
  align-items: center;
  position: relative;
  -webkit-appearance: none;
  font-size: 1.3em;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: 3em;
  font-family: inherit;
  padding: 0.5em 0.6em;
  line-height: 1;
}

button:hover {
  background-color: #ededed;
}

button:active {
}

button:focus {
}

.button-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  height: 1em;
  overflow: visible;
  text-rendering: auto;
  line-height: 1;
  fill: inherit;
  pointer-events: none;
}

#words-container {
  position: relative;
  margin: auto;
}

#words {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.square {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-basis: calc(20% - 10px);
  margin: 5px;
  box-sizing: border-box;
  user-select: none;
}

.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square.with-contents {
  background-color: var(--permanent-letter-background-color);
  color: var(--permanent-letter-text-color);
}

.square.draggable {
  border: 0.06em solid black;
  background-color: var(--unplaced-letter-background-color);
  color: var(--unplaced-letter-text-color);
  cursor: grab;
  border-radius: 0.1em;
}

.square.empty {
  border: 0.06em solid var(--empty-square-border-color);
  border-radius: 0;
}

.square.empty:hover {
  border-color: var(--empty-square-border-color-hover);
}

.square.draggable.complete {
  background-color: var(--success-background-color);
  color: var(--success-text-color);
  /* border-radius: 0; */
  border: none;
}

.square.draggable.shelved {
  background-color: var(--unplaced-letter-background-color);
  color: var(--unplaced-letter-text-color);
  width: 1.55em;
  height: 1.55em;
}

.square.draggable.shelved.focused {
  box-shadow: 0 0 0 6px #85c0f9;
}

#letter-bar {
  box-sizing: border-box;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  line-height: 1;
}

#menu {
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: flex-end;
}
