:root {
  --background-color: white;
  --text-color: #24292f;
  --button-background-color-hover: #ededed;
  --success-background-color: #6aaa64;
  --success-text-color: white;
  --permanent-letter-background-color: #787c7e;
  --permanent-letter-text-color: white;
  --hinted-letter-background-color: #d3d6da;
  --hinted-letter-text-color: #24292f;
  --unplaced-letter-background-color: white;
  --unplaced-letter-text-color: #24292f;
  --unplaced-letter-border-color: #24292f;
  --empty-square-border-color: #d3d6da;
  --empty-square-border-color-hover: #abb1ba;

  --max-width: 50vh;
  --letter-gap: 0.8vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121213;
    --text-color: #e8eaed;
    --button-background-color-hover: #2a2a2d;
    --success-background-color: #538d4e;
    --success-text-color: #e8eaed;
    --permanent-letter-background-color: #3a3a3c;
    --permanent-letter-text-color: #e8eaed;
    --hinted-letter-background-color: #818384;
    --hinted-letter-text-color: #e8eaed;
    --unplaced-letter-background-color: #121213;
    --unplaced-letter-text-color: #e8eaed;
    --unplaced-letter-border-color: #e8eaed;
    --empty-square-border-color: #3a3a3c;
    --empty-square-border-color-hover: #4b4b4e;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", "Clear Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--background-color);
  margin: 0;
}

button {
  display: inline-flex;
  align-items: center;
  position: relative;
  -webkit-appearance: none;
  font-size: 1.3em;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: 3em;
  font-family: inherit;
  padding: 0.5em 0.6em;
  line-height: 1;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--button-background-color-hover);
  }
}

.button-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  height: 1em;
  overflow: visible;
  text-rendering: auto;
  line-height: 1;
  fill: var(--text-color);
  pointer-events: none;
}

#words-container {
  display: flex;
  justify-content: center;
}

#words {
  display: flex;
  flex-wrap: wrap;
  gap: var(--letter-gap);
  justify-content: center;
  max-width: 50vh;
}

.square {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  flex-basis: calc(20% - 10px);
  box-sizing: border-box;
  user-select: none;

  transition: transform 1s linear;
  perspective: 1000px;
}

.square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.square svg {
  width: 70%;
}

.square svg text {
  dominant-baseline: middle;
  text-anchor: middle;
}

.square.with-contents {
  background-color: var(--permanent-letter-background-color);
}

.square.with-contents svg {
  fill: var(--permanent-letter-text-color);
}

.square.hint-given {
  background-color: var(--hinted-letter-background-color);
}

.square.hint-given svg {
  fill: var(--hinted-letter-text-color);
}

.square.draggable {
  border: 2px solid var(--unplaced-letter-border-color);
  background-color: var(--unplaced-letter-background-color);
  cursor: grab;
}

.square.draggable svg {
  fill: var(--unplaced-letter-text-color);
}

.square.empty {
  border: 2px solid var(--empty-square-border-color);
  border-radius: 0;
}

@media (hover: hover) {
  .square.empty:hover {
    border-color: var(--empty-square-border-color-hover);
  }
}

.square.draggable.complete {
  background-color: var(--success-background-color);
  border: none;
  transform: rotateY(180deg);
}

.square.draggable.complete svg {
  fill: var(--success-text-color);
  transform: rotateY(180deg);
}

.square.draggable.shelved {
  background-color: var(--unplaced-letter-background-color);
  color: var(--unplaced-letter-text-color);
}

.square.draggable.shelved.focused {
  box-shadow: 0 0 0 var(--letter-gap) #85c0f9;
}

#letter-bar {
  display: flex;
  justify-content: center;
  gap: var(--letter-gap);
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  margin-top: 1em;
  text-align: center;
  line-height: 1;
  max-width: var(--max-width);
}

#menu {
  padding: 0.5em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 1vw;
  justify-content: flex-end;
}
